.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.nav{
  display: flex;
  flex-direction: row;
  margin-left: 19%;
  
}

.image{
  margin-left: -95%;
  
}

.item1{
  margin-left:-105%;
  margin-right: 80%;
}

.item2{
  margin-left: -45%;
  margin-right: 60%;
}
.item3{
  margin-left: -15%;
  margin-right: 25%;
}
.item4{
  margin-left: 5%;
}

